.passwordChangeContainer {
  width: 40%;
  height: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  button {
    width: 120px;
    border: none;
    border-radius: 12px;
    background-color: var(--yellow);
    cursor: pointer;
    padding: 12px 0;
    font-size: 18px;
    font-weight: 700;
  }
}

.textFieldContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;

  label {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
  }

  input {
    background: #fff;
    border: 1px solid #fff;
    border-radius: 6px;
    padding: 12px;
    outline: none;
    color: #000;
    font-size: 16px;
    font-weight: 500;
  }
}
