.HeaderContainer {
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  p {
    font-size: 22px;
    font-weight: 600;
    line-height: 22px;
    color: #fff;

    span {
      color: var(--secondary);
    }
  }
}
