.dashboardContainer {
  height: 100%;
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .currentInterviewsContainer {
    flex: 0.5;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;

    .buttonContainer {
      width: 200px;
      height: 48px;

      a {
        height: 100%;
        width: 100%;
        background-color: var(--yellow);
        font-size: 22px;
        font-weight: 600;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        text-decoration: none;
        color: #000;
        padding: 12px 18px;
      }
    }

    .previousResultsContainer {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .previousResultsBox {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #fff;
        padding: 10px;
        border-radius: 12px;
      }

      a {
        text-decoration: none;
        color: #000;
        cursor: pointer;
        font-size: 18px;
        font-weight: 600;
      }

      p {
        font-size: 22px;
        font-weight: 700;
        color: #fff;
      }

      .previousResults {
        max-width: 100%;
        background-color: #fff;
        border-radius: 10px;
        display: flex;
        flex-wrap: wrap;
        padding: 16px;
        justify-content: flex-start;
        align-items: center;
        gap: 48px;
      }
    }
  }
}

.prevIntCardContainer {
  height: 120px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  position: relative;
  background-color: #cdcdcd;

  .scoreBar {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    border-radius: 100%;
  }

  .dataContainer {
    width: 85%;
    height: 85%;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 6px;
    justify-content: center;
    align-items: center;

    p {
      font-size: 16px !important;
      color: #000 !important;
      font-weight: 500 !important;
    }
  }
}

.RecommendedInterviewContainer {
  height: 100%;
  flex: 0.5;
  display: flex;
  justify-content: flex-end;
}

.recommenderInterview {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.recIntCardContainer {
  width: 400px;
  padding: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #fff;
  border-radius: 12px;
  gap: 16px;
  cursor: pointer;

  .imageContainer {
    height: 80px;
    width: 80px;
    border-radius: 10px;
    background-color: grey;
  }

  .dataContainer {
    margin-top: 10px;

    p {
      font-size: 16px;
      font-weight: 600;

      &:nth-child(2) {
        font-weight: 400;
      }
    }
  }
}
